@charset "UTF-8";
/* break point */
/* color setting */
/* base setting */
@media only screen and (max-width: 375px) {
  html {
    font-size: 4.2666666667vw; } }
@media only screen and (min-width: 768px) {
  html {
    font-size: 1.0666666667vw; } }
@media only screen and (min-width: 1500px) {
  html {
    font-size: 16px; } }

body {
  min-height: 100vh;
  color: #363636;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  letter-spacing: 0.06em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

picture {
  display: block; }

img {
  height: auto;
  width: 100%;
  max-width: 100%;
  vertical-align: middle; }

a {
  text-decoration: none;
  transition: opacity .4s ease;
  color: inherit; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: inherit; }

ul {
  list-style: none; }

input,
button,
select,
textarea {
  appearance: none;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: transparent;
  font: inherit;
  -webkit-appearance: none;
  -moz-appearance: none; }

button {
  cursor: pointer; }

@media only screen and (min-width: 768px) {
  .only-sp {
    display: none; } }

@media only screen and (max-width: 767px) {
  .only-pc {
    display: none; } }

.nowrap {
  white-space: nowrap; }

.section {
  padding-top: 2rem;
  padding-bottom: 4rem; }
  @media only screen and (min-width: 768px) {
    .section {
      padding-top: calc(65 / 1920 * 100%);
      padding-bottom: calc(80 / 1920 * 100%); } }

.inner {
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0 auto;
  width: 100%;
  position: relative; }
  @media only screen and (min-width: 768px) {
    .inner {
      max-width: 78.75rem;
      padding-right: 1.875rem;
      padding-left: 1.875rem; } }
  @media only screen and (min-width: 768px) {
    .inner.--w900 {
      max-width: 60rem; } }
  .inner.hidden {
    overflow: hidden; }

.img {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 0; }
  .img::before {
    content: "";
    display: block; }
  .img img {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease; }

.english {
  font-weight: 500;
  letter-spacing: 0.06em; }

.english-ttl {
  line-height: 1.3;
  font-size: 1.25rem;
  text-align: center;
  letter-spacing: 0.06em; }
  @media only screen and (min-width: 768px) {
    .english-ttl {
      line-height: 1.3125;
      font-size: 2rem; } }

.ttl {
  font-size: 1.25rem;
  line-height: 1.45;
  letter-spacing: 0.07em;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .ttl {
      font-size: 2rem;
      line-height: 1.4375;
      letter-spacing: 0.09em; } }

.txt {
  font-size: 0.9375rem;
  letter-spacing: 0.07em;
  line-height: 1.6666666667;
  font-weight: 400; }
  @media only screen and (min-width: 768px) {
    .txt {
      font-size: 1.125rem;
      line-height: 2.3333333333;
      letter-spacing: 0.06em; } }
  .txt b {
    font-weight: 900;
    display: block;
    margin: 0.9375rem 0; }

.btn-box {
  text-align: center; }

.btn {
  color: #fff;
  min-width: 16.25rem;
  min-height: 2.4375rem;
  border-radius: 3.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  line-height: 1.2857142857;
  font-weight: 700;
  letter-spacing: 0;
  margin-bottom: 1rem;
  padding: 0.6rem 0;
  position: relative;
  background: #123770;
  transition: 0.4s ease;
  transition-property: opacity, background-color, color, box-shadow;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .btn {
      font-weight: 900;
      min-width: 25.625rem;
      min-height: 4rem;
      font-size: 1.125rem;
      line-height: 1.4444444444;
      letter-spacing: 0.04em;
      margin-bottom: 0;
      padding: 0.2rem 0; } }
  .btn:hover {
    background: #356aa3; }
  .btn::after {
    content: "";
    pointer-events: none;
    width: 0.625rem;
    height: 0.25rem;
    background: url(../img/common/btn-arrow.svg) no-repeat center/100% auto;
    position: absolute;
    right: 1.5625rem;
    top: 50%;
    transform: translate(0, -50%);
    transition: right 0.4s ease; }
    @media only screen and (min-width: 768px) {
      .btn::after {
        width: 0.8125rem;
        height: 0.3125rem;
        right: 1.25rem; } }
  .btn._header {
    min-width: 8.0625rem;
    min-height: 1.75rem;
    font-size: 0.75rem;
    line-height: 1.4166666667;
    padding: 0.25rem 1.5625rem 0.4375rem 0.5625rem;
    margin-right: 0.625rem; }
    @media only screen and (min-width: 768px) {
      .btn._header {
        min-width: 11rem;
        min-height: 3.125rem;
        font-size: 1.125rem;
        margin-left: 1rem;
        margin-right: 0;
        letter-spacing: 0.05em;
        padding: 0.875rem 2.5rem 0.875rem 2.25rem; } }
    @media only screen and (min-width: 768px) {
      .btn._header._orange {
        min-width: 13.75rem; } }
    .btn._header::after {
      width: 0.5rem;
      height: 0.1875rem;
      right: 1.3125rem; }
      @media only screen and (min-width: 768px) {
        .btn._header::after {
          width: 0.8125rem;
          height: 0.3125rem;
          right: 1.0625rem; } }
  .btn._green {
    background: #00B6C9; }
    .btn._green:hover {
      background: #00B6C9; }
  .btn._orange {
    background: #FA7748; }
    .btn._orange:hover {
      background: #FC997b; }

.lower-mv {
  position: relative;
  background: no-repeat center bottom/contain;
  background-image: url(../img/common/mv-bg-sp.jpg); }
  @media only screen and (min-width: 768px) {
    .lower-mv {
      background-position: right bottom;
      background-image: url(../img/common/mv-bg.jpg); } }
  .lower-mv._small {
    padding-top: 2.5rem; }
    @media only screen and (min-width: 768px) {
      .lower-mv._small {
        padding-top: 7.5rem;
        padding-bottom: 3.125rem; } }
  .lower-mv.--about {
    background-image: url(../img/about/mv-bg-sp.jpg); }
    @media only screen and (min-width: 768px) {
      .lower-mv.--about {
        background-image: url(../img/about/mv-bg.jpg); } }
  .lower-mv.--service {
    background-image: url(../img/service/mv-bg-sp.jpg); }
    @media only screen and (min-width: 768px) {
      .lower-mv.--service {
        background-image: url(../img/service/mv-bg.jpg); } }
  .lower-mv.--pgc {
    background-image: url(../img/pgc/mv-bg-sp.jpg); }
    @media only screen and (min-width: 768px) {
      .lower-mv.--pgc {
        background-image: url(../img/pgc/mv-bg.jpg); } }
  .lower-mv.--articles {
    background-image: url(../img/articles/mv-bg-sp.jpg); }
    @media only screen and (min-width: 768px) {
      .lower-mv.--articles {
        background-image: url(../img/articles/mv-bg.jpg); } }
    .lower-mv.--articles .lower-mv__txt {
      padding-bottom: calc(35 / 1230 * 100%); }
  .lower-mv.--project {
    background-image: url(../img/project/mv-bg-sp.jpg); }
    @media only screen and (min-width: 768px) {
      .lower-mv.--project {
        background-image: url(../img/project/mv-bg.jpg); } }
  .lower-mv.--contact {
    text-align: center;
    background: none; }
    @media only screen and (min-width: 768px) {
      .lower-mv.--contact {
        background: none; } }
    .lower-mv.--contact:before {
      display: none; }
    .lower-mv.--contact .lower-mv__txt {
      padding: 0; }
      @media only screen and (min-width: 768px) {
        .lower-mv.--contact .lower-mv__txt {
          padding: 0 0 1.7rem 0; } }
    @media only screen and (min-width: 768px) {
      .lower-mv.--contact .lower-mv__heading {
        text-align: center;
        padding-top: 4rem; } }
    .lower-mv.--contact .lower-mv__ttl {
      padding-bottom: 0; }
      @media only screen and (min-width: 768px) {
        .lower-mv.--contact .lower-mv__ttl {
          text-align: center; } }
      @media only screen and (min-width: 768px) {
        .lower-mv.--contact .lower-mv__ttl-ja {
          text-align: center; } }
    .lower-mv.--contact .lower-mv__para {
      text-align: left;
      padding: 0 0.7rem; }
      @media only screen and (min-width: 768px) {
        .lower-mv.--contact .lower-mv__para {
          text-align: center;
          padding: 0; } }
  .lower-mv:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(41, 83, 201, 0.1); }
  .lower-mv .wrap {
    position: relative;
    z-index: 2; }
  .lower-mv__inner {
    padding: 0; }
  @media only screen and (min-width: 768px) {
    .lower-mv__txt {
      padding-left: 1.9rem;
      padding-bottom: calc(72 / 1230 * 100%); } }
  .lower-mv__heading {
    font-size: 0.75rem;
    line-height: 1.4166666667;
    letter-spacing: 0.06rem;
    font-weight: 500;
    color: #00B6C9;
    text-align: center;
    padding-top: 1rem; }
    @media only screen and (min-width: 768px) {
      .lower-mv__heading {
        font-size: 1.25rem;
        line-height: 1.5;
        text-align: left;
        padding-top: 2.4rem; } }
  .lower-mv__ttl {
    padding-top: 0.2rem;
    padding-bottom: calc(156 / 375 * 100%); }
    @media only screen and (min-width: 768px) {
      .lower-mv__ttl {
        padding-top: 0.4rem;
        padding-bottom: 0; } }
    .lower-mv__ttl-ja {
      display: block;
      color: #123770;
      font-size: 1.75rem;
      line-height: 1.1428571429;
      font-weight: 900;
      text-align: center;
      letter-spacing: 0.06em; }
      @media only screen and (min-width: 768px) {
        .lower-mv__ttl-ja {
          font-size: 2.5rem;
          line-height: 1.45;
          text-align: left; } }
    .lower-mv__ttl-en {
      margin-top: 1.25rem;
      font-size: 0.75rem;
      line-height: 1.4166666667;
      display: block;
      text-align: center;
      letter-spacing: .2em; }
      @media only screen and (min-width: 768px) {
        .lower-mv__ttl-en {
          margin-top: 0.5625rem;
          font-size: 1.25rem;
          line-height: 1.3;
          text-align: left;
          letter-spacing: .06em; } }
  .lower-mv__para {
    margin-top: 2.5rem;
    font-size: 0.9375rem;
    line-height: 1.6666666667;
    letter-spacing: .07em; }
    @media only screen and (min-width: 768px) {
      .lower-mv__para {
        margin-top: 3.125rem;
        font-size: 1.125rem;
        line-height: 2.3333333333;
        letter-spacing: .06em; } }

.breadcrumbs {
  padding: 0.8rem 0;
  color: #00B6C9; }
  @media only screen and (min-width: 768px) {
    .breadcrumbs a {
      transition: opacity 0.4s ease; }
      .breadcrumbs a:hover {
        opacity: 0.7; } }
  .breadcrumbs.sticky {
    position: sticky;
    top: calc(100vh - 7.3rem); }
    @media only screen and (min-width: 768px) {
      .breadcrumbs.sticky {
        top: calc(100vh - 6.5rem); } }
  .breadcrumbs.--top {
    padding-top: 0.9rem;
    padding-bottom: 0.5625rem; }
    @media only screen and (min-width: 768px) {
      .breadcrumbs.--top {
        padding-top: 0.8rem;
        padding-bottom: 0;
        background: initial; } }
  .breadcrumbs__inner {
    padding-left: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    overflow-x: auto; }
    @media only screen and (min-width: 768px) {
      .breadcrumbs__inner {
        padding-left: 1.9rem; } }
    .breadcrumbs__inner > span {
      flex-shrink: 0;
      color: #000000;
      font-size: 0.75rem;
      letter-spacing: 0.035rem; }
      .breadcrumbs__inner > span:not(:last-of-type) {
        padding: 0.05rem 0;
        line-height: 1.4166666667rem;
        display: inline-flex;
        justify-content: center;
        align-items: center; }

.lower-ttl {
  margin-bottom: 2.15rem; }
  @media only screen and (min-width: 768px) {
    .lower-ttl {
      margin-bottom: 1.9rem; } }
  .lower-ttl--en {
    display: block;
    font-size: 0.75rem;
    line-height: 1.4166666667;
    text-align: center;
    color: #00B6C9;
    letter-spacing: 0.06rem; }
    @media only screen and (min-width: 768px) {
      .lower-ttl--en {
        font-size: 1.25rem;
        line-height: 1.45;
        letter-spacing: 0.06em; } }
    @media only screen and (min-width: 768px) {
      .lower-ttl.--left .lower-ttl--en {
        text-align: left; } }
  .lower-ttl--ja {
    display: block;
    margin-top: 0.2rem;
    color: #123770;
    font-size: 1.625rem;
    line-height: 1.2307692308;
    letter-spacing: 0.04em;
    font-weight: 900;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .lower-ttl--ja {
        margin-top: 0.5625rem;
        font-size: 2.5rem;
        line-height: 1.45;
        letter-spacing: 0.06em;
        font-weight: 900; } }
    @media only screen and (min-width: 768px) {
      .lower-ttl.--left .lower-ttl--ja {
        text-align: left; } }

.lower-section {
  padding: 3.125rem 0 3.75rem; }
  @media only screen and (min-width: 768px) {
    .lower-section {
      padding: 4rem 0 4rem 0; } }

.bg-green {
  background: rgba(0, 182, 201, 0.05); }

.l-contact {
  padding: 2rem 0 3.125rem; }
  @media only screen and (min-width: 768px) {
    .l-contact {
      padding: 4rem 0 3rem 0; } }
  .l-contact.--thanks {
    padding-top: 0; }
    @media only screen and (min-width: 768px) {
      .l-contact.--thanks {
        padding: 4.375rem 0 14.8125rem; } }
    .l-contact.--thanks .l-contact__btn-box {
      padding-top: 2rem; }
  .l-contact__row + .l-contact__row {
    margin-top: 0.8rem; }
    @media only screen and (min-width: 768px) {
      .l-contact__row + .l-contact__row {
        margin-top: 2rem; } }
  .l-contact__ttl {
    margin-bottom: 0.9375rem;
    font-size: 1.125rem;
    line-height: 1.3333333333;
    font-weight: 700;
    flex-wrap: wrap;
    align-items: flex-start;
    display: flex;
    gap: 0.2rem 0.5rem; }
    @media only screen and (min-width: 768px) {
      .l-contact__ttl {
        margin-bottom: 1rem;
        font-size: 1.125rem;
        line-height: 1.4444444444;
        gap: 0.5rem;
        font-weight: 500; } }
    .l-contact__ttl .hissu,
    .l-contact__ttl .nini {
      flex-shrink: 0;
      margin-top: 0.125rem;
      display: inline-block;
      white-space: nowrap;
      color: #fff;
      font-size: 0.75rem;
      line-height: 1.0625rem;
      text-align: center;
      border-radius: 0.25rem;
      letter-spacing: 0;
      font-weight: 400;
      padding: 0.03rem 0.4rem 0.07rem 0.4rem; }
      @media only screen and (min-width: 768px) {
        .l-contact__ttl .hissu,
        .l-contact__ttl .nini {
          margin-top: 0.125rem;
          font-size: 1rem;
          line-height: 1.5rem;
          border-radius: 0.375rem;
          font-weight: normal; } }
    .l-contact__ttl .hissu {
      background: #D12B2B; }
    .l-contact__ttl .nini {
      background: #999999; }
    .l-contact__ttl .note {
      display: block;
      flex-basis: 100%;
      font-size: 0.9375rem;
      line-height: 1.6rem;
      font-weight: 400; }
      @media only screen and (min-width: 768px) {
        .l-contact__ttl .note {
          flex-basis: auto;
          font-size: 1.125rem;
          line-height: 1.4444444444;
          font-weight: 500; } }
    .l-contact__ttl a {
      color: #00B6C9;
      text-decoration: underline; }
      @media only screen and (min-width: 768px) {
        .l-contact__ttl a {
          transition: 0.4s ease; } }
      @media only screen and (min-width: 768px) {
        .l-contact__ttl a:hover {
          opacity: 0.7; } }
  .l-contact__attention {
    margin-top: 0.625rem;
    font-size: 0.75rem;
    line-height: 1.4166666667;
    letter-spacing: 0;
    font-weight: normal; }
    @media only screen and (min-width: 768px) {
      .l-contact__attention {
        margin-top: 0.1rem;
        font-size: 0.9375rem;
        line-height: 1.6; } }
  .l-contact__checkbox-wrap.--grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.9375rem; }
    @media only screen and (min-width: 768px) {
      .l-contact__checkbox-wrap.--grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5em 1rem; } }
  .l-contact__checkbox-wrap > span {
    margin-left: 0 !important; }
  .l-contact__submit-wrap {
    width: fit-content;
    margin: 2.1875rem auto 0; }
    @media only screen and (min-width: 768px) {
      .l-contact__submit-wrap {
        margin: 3.75em auto 0 auto; } }
    .l-contact__submit-wrap .btn {
      padding: 0; }
  .l-contact__submit {
    color: #fff;
    transition: color .4s ease;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    letter-spacing: 0;
    padding: 1.1rem 1.25rem 1.2rem 1.25rem;
    cursor: pointer; }
    @media only screen and (min-width: 768px) {
      .l-contact__submit {
        font-size: 1.125rem;
        letter-spacing: 0.04rem; } }
  .l-contact input[type=text],
  .l-contact textarea {
    padding-left: 0.9375rem;
    width: 100%;
    font-weight: 400;
    background: #fff;
    border-radius: 0.4375rem;
    border: 0.0625rem solid #959595; }
    @media only screen and (min-width: 768px) {
      .l-contact input[type=text],
      .l-contact textarea {
        padding-left: 1.25rem;
        font-size: 1.125rem;
        border-radius: 0.625rem; } }
    .l-contact input[type=text]::placeholder,
    .l-contact textarea::placeholder {
      color: #C3C0C0; }
  .l-contact textarea {
    padding-top: 0.6875rem;
    height: 11.25rem;
    resize: none; }
    @media only screen and (min-width: 768px) {
      .l-contact textarea {
        padding-top: 0.875rem;
        height: 19.0625rem; } }
  .l-contact input[type=text] {
    height: 3rem; }
    @media only screen and (min-width: 768px) {
      .l-contact input[type=text] {
        max-width: 30rem;
        height: 3.6875rem; } }
  .l-contact input[type=checkbox] {
    display: none; }
  .l-contact input[type=checkbox] + span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9375rem;
    letter-spacing: 0;
    line-height: 1.4;
    position: relative; }
    @media only screen and (min-width: 768px) {
      .l-contact input[type=checkbox] + span {
        gap: 0.5rem;
        font-size: 1.125rem;
        letter-spacing: .05em;
        line-height: 1.8888888889; } }
    .l-contact input[type=checkbox] + span::before {
      content: "";
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      background: #fff;
      border-radius: 0.1875rem;
      border: 0.0625rem solid #959595; }
      @media only screen and (min-width: 768px) {
        .l-contact input[type=checkbox] + span::before {
          width: 1.5rem;
          height: 1.5rem; } }
    .l-contact input[type=checkbox] + span::after {
      content: "";
      display: inline-block;
      width: 0.75rem;
      height: 0.5rem;
      border-left: 0.125rem solid #00B6C9;
      border-bottom: 0.125rem solid #00B6C9;
      position: absolute;
      left: 0.3125rem;
      top: 50%;
      transform: translateY(-68%) rotate(-45deg);
      display: none; }
      @media only screen and (min-width: 768px) {
        .l-contact input[type=checkbox] + span::after {
          width: 1.25rem;
          height: 0.875rem;
          border-width: 0.25rem;
          left: 0.40625rem;
          transform: translateY(-80%) rotate(-45deg); } }
  .l-contact input[type=checkbox]:checked + span::after {
    display: inline-block; }
  .l-contact .error {
    margin-top: 0.625rem; }
    @media only screen and (min-width: 768px) {
      .l-contact .error {
        padding-top: 1rem;
        font-size: 1.25rem; } }
  .l-contact__btn-box {
    text-align: center; }

.l-intro {
  padding-top: 0;
  padding-bottom: 1.2rem; }
  @media only screen and (min-width: 768px) {
    .l-intro {
      padding-bottom: 3rem; } }
  .l-intro__inner {
    padding: 0 1rem; }
    @media only screen and (min-width: 768px) {
      .l-intro__inner {
        max-width: 58.25rem;
        margin: auto; } }
  .l-intro__title {
    color: #ffffff;
    font-size: 1.25rem;
    line-height: 1.6;
    font-weight: 700;
    text-align: center;
    background: url(../img/common/bg-intro-title-sp.jpg) no-repeat center/cover;
    margin-top: 2.3rem;
    margin-bottom: 1rem;
    padding: 0.65rem 0; }
    @media only screen and (min-width: 768px) {
      .l-intro__title {
        font-size: 1.5rem;
        line-height: 1.3333333333;
        background: url(../img/common/bg-intro-title.jpg) no-repeat center/cover;
        padding: 1.25rem 0; } }
  .l-intro__text {
    font-size: 0.9375rem;
    line-height: 1.6;
    letter-spacing: 0.04rem;
    font-weight: 400;
    margin-bottom: 0.8rem; }
    .l-intro__text.strong {
      color: #123770;
      font-size: 1.125rem;
      line-height: 1.4444444444;
      font-weight: 700;
      margin-top: 1.8rem; }
      @media only screen and (min-width: 768px) {
        .l-intro__text.strong {
          line-height: 1.7777777778;
          margin-top: 3.6rem;
          text-align: center; } }
    .l-intro__text .marker {
      background: linear-gradient(transparent 70%, #FFF500 70%); }
  .l-intro__list {
    margin-bottom: 0.9rem; }
    @media only screen and (min-width: 768px) {
      .l-intro__list {
        margin-bottom: 1.7rem; } }
  .l-intro__item {
    display: flex;
    font-size: 0.9375rem;
    line-height: 1.3333333333;
    letter-spacing: 0.04rem;
    font-weight: 400;
    margin-bottom: 0.6rem; }
    @media only screen and (min-width: 768px) {
      .l-intro__item {
        font-size: 0.9375rem;
        line-height: 1.6;
        margin-bottom: 0; } }
    .l-intro__item:before {
      content: "";
      display: block;
      flex-shrink: 0;
      width: 0.9375rem;
      height: 0.9375rem;
      background-color: #CDEEF2;
      margin-top: 0.3125rem;
      margin-right: 0.5rem;
      border-radius: 50%; }
      @media only screen and (min-width: 768px) {
        .l-intro__item:before {
          content: "・";
          width: auto;
          height: auto;
          background-color: transparent;
          margin-top: 0;
          margin-right: 0;
          border-radius: 0;
          font-size: 0.9375rem;
          line-height: 1.6; } }
  .l-intro__btn-box {
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .l-intro__btn-box {
        padding: 1rem 0 1.5rem 0; } }

.breadcrumbs {
  background-color: rgba(0, 182, 201, 0.05); }

@media only screen and (min-width: 768px) {
  .l-contact__btn-box.--left {
    text-align: left; } }
.l-contact__btn-text {
  margin-bottom: 3.75rem;
  font-size: 1.25rem;
  line-height: 1.75; }

@media only screen and (max-width: 767px) {
  .l-contact__btn-text {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 3rem; } }
.l-contact__btn-box.--col2 {
  display: flex;
  gap: 2rem; }

.l-contact__btn-box.--col2 a {
  font-family: "Zen Old Mincho", serif !important; }

@media only screen and (max-width: 767px) {
  .l-contact__btn-box.--col2 {
    flex-direction: column;
    gap: 1rem; }

  .l-contact__btn-box.--col2 a {
    font-size: 0.875rem !important;
    padding: 0.875rem 2.5rem 0.875rem 2.25rem !important; } }
.l_fbagjs,
.l_qspkvy {
  display: none; }

/*# sourceMappingURL=page-contact.css.map */

.l-contact__checkbox-wrap.--grid .error {
  grid-column: 1 / -1; /* グリッドの全幅にまたがる */
}



 
