/* break point */
$breakpoints: (
  xs: "only screen and (max-width: 375px)",
  osp: "only screen and (max-width: 767px)",
  m: "only screen and (min-width: 768px)",
  mid: "only screen and (min-width: 1000px)",
  l: "only screen and (min-width: 1200px)",
  xl: "only screen and (min-width: 1500px)",
  max: "only screen and (min-width: 1920px)",
);

@mixin media($breakpoint:m) {
  @media #{map-get($breakpoints,$breakpoint)} {
    @content;
  }
}

/* color setting */
$font: #363636;
//$orange: #D1572B;
$orange: #FA7748;
$blue: #123770;
$green: #00B6C9;
$placeholder: #777;
$gray-bg: rgba(#D0D0D0, .2);

/* base setting */
html {
  @include media(xs) {
    font-size: (16 / 3.75) + vw;
  }
  @include media() {
    font-size: (16 / 15) + vw;
  }
  @include media(xl) {
    font-size: 16px;
  }
}
body {
  min-height: 100vh;
  color: $font;
  font-family: "Noto Sans JP", sans-serif;
//  font-weight: 700;
  font-weight: 400;
  letter-spacing: 0.06em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
picture {
  display: block;
}
img {
  height: auto;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}
a {
  text-decoration: none;
  transition: opacity .4s ease;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5 {
	font-weight: inherit;
}
ul {
  list-style: none;
}
input,
button,
select,
textarea {
  appearance: none;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: transparent;
  font: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
}
button {
  cursor: pointer;
}
.only-sp {
  @include media() {
    display: none;
  }
}
.only-pc {
  @include media(osp) {
    display: none;
  }
}
.nowrap {
  white-space: nowrap;
}