.l-flow {
  padding: 2rem 0 1.75rem 0;
  @include media() {
    padding: 3.5rem 0 0.75rem 0;
  }
  &__inner {
    @include media() {
      max-width: 83.75rem;
    }
  }
  &__ttl {
    margin-bottom: 2.2rem;
    @include media() {
      margin-bottom: 2rem;
    }
  }
  &__intro {
    font-size: (15 / 16) + rem;
    line-height: (24 / 15);
    letter-spacing: 0.04em;
    padding: 0 0.7rem 1.8rem 0.7rem;
    @include media() {
      font-size: (18 / 16) + rem;
      line-height: (32 / 18);
      letter-spacing: 0.045em;
      text-align: center;
      padding: 0 0 1.8rem 0;
    }
  }
  &__wrap {
    overflow-x: scroll;
    @include media() {
      overflow-x: visible;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    gap: (24 / 16) + rem;
    width: (840 / 16) + rem;
    padding: 0 0 5rem 0;
    @include media() {
      display: flex;
      justify-content: center;
      gap: (96 / 16) + rem;
      width: 100% !important;
      padding: 0 0 8rem 0;
    }
  }
  &__item {
    flex-basis: (145 / 16) + rem;
    position: relative;
    text-align: center;
    list-style-type: none;
    @include media() {
      flex-basis: (180 / 16) + rem;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      width: (24 / 16) + rem;
      height: (24 / 16) + rem;
      background: #00B6C9 url(../img/common/slider-arrow.svg) no-repeat center / 100% auto;
      margin: auto;
      border-radius: 50%;
      @include media() {
        left: calc(100% + 2rem);
        width: (32 / 16) + rem;
        height: (32 / 16) + rem;
      }
    }
    &-img {
      width: (64 / 16) + rem;
      margin: auto;
      @include media() {
        width: (100 / 16) + rem;
      }
    }
    &-text {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      font-size: (16 / 16) + rem;
      line-height: (22 / 16);
      letter-spacing: 0.04em;
      margin-top: 0.4rem;
      @include media() {
        font-size: (22 / 16) + rem;
        line-height: (32 / 22);
        letter-spacing: 0.09em;
        margin-top: 0.8rem;
      }
    }
  }
}