.l-header {
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  font-weight: 700;
  @include media() {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

  }
  &__inner {
    position: relative;
    margin: 0 auto;
    padding: 0 (17 / 16) + rem;
    height: (70 / 16) + rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    @include media() {
      padding: 0 (30 / 16) + rem;
      height: (100 / 16) + rem;
      justify-content: flex-start;
    }
  }
  .logo {
    position: absolute;
    width: 100%;
    max-width: (58 / 16) + rem;
    height: (70 / 16) + rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    transition: 0.4s ease;
    transition-property: opacity;
    @include media(mid) {
    }
    a {
      &:hover,
      &:active {
        opacity: 0.7;
      }
    }
  }
}
